

.Card{
    margin: 20px;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background: #ebeca5bd;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.infoheader{
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}



.info{
    
    margin: 20px;

}

.opcion{
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 10px;
    color: white;
    border: 1px solid red;
    background-color: red;
    border-radius: 4px;
}

.opcion:hover{
    background: rgb(241, 79, 79);
    color: #fff;
    cursor: pointer;
}
